<h2>Trainer Info</h2>
<section *ngIf="trainer">
  <h3>Trainer: {{ trainer.username }} </h3>
  <ul>
    <li *ngFor="let pokemon of trainer.pokemon">
      {{ pokemon }}
    </li>
  </ul>
</section>
