
<h2>Login</h2>
<form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
  <label>
    Username: 
    <input 
      #username="ngModel" 
      id="username" 
      maxlength="40" 
      minlength="3" 
      name='username' 
      ngModel 
      placeholder="username" 
      required 
      type="text">
  </label>
  <button [disabled]="_isLoading || loginForm.form.invalid" type="submit" >🠖</button>
</form>
<p *ngIf="_isLoading">Loading... Trying to login user</p>
