<nav>
  <ul>
    <li>
      <a [routerLink]="['/login']">Log in</a>
    </li>
    <li>
      <a [routerLink]="['/trainer']">Trainer</a>
    </li>
    <li>
      <a [routerLink]="['/pokedex']">Pokedex</a>
    </li>
  </ul>
</nav>