nav {
  background-color: var(--secondary-color);
  color: var(--bg-color);
  padding: 1rem;
}

ul {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  gap: 1rem;
  justify-content: center;
}

li {
  list-style: none;
}
