/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg-color);
  max-width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

:root {
  --bg-color: #d0d3fa;
  --disabled-color: #66677a;
  --secondary-color: #41457a;
  --secondary-variant-color: #858dfb;
  --text-color: #222229;
}

a {
  color: var(--secondary-variant-color);
  cursor: pointer;
  padding: 0.6rem 1rem;
  text-decoration: none;
}

a:focus {
  border: 1px solid var(--secondary-variant-color);
}
